body{
 

}
.container {
  margin: 1rem; 
  color: white; 
  align-content: center; 
}

.gifDiv {
  float: left; 
  margin: 1px; 
}

.gifsView{
  background-color: black; 

}

.jumbotron{
  text-align: center; 
  color: black;
  background-color: blue;  
  align-content: center; 

}

#gif-form {
  background-color: White; 
  border-radius: 5%; 
  text-align: center; 
}

img {
  height: 150px; 
  background-color: black; 
  border: solid, 1px;
}
