body{
 
}
}
.container {
  margin: 1rem; 
  color: white; 
  align-content: center; 
}

.gifDiv {
  float: left; 
  margin: 1px; 
}

.gifsView{
  border: solid, 1px, red; 
  background-color: red; 
}

.jumbotron{
  text-align: center; 
  color: black;
  background-color: white;  

}

#gif-form {
  background-color: red; 
  border-radius: 5%; 
  text-align: center; 
}
