body{
 
}

.container {
  margin: 1rem; 
  color: white; 
  align-content: center; 
}

.gifDiv {
  float: left; 
  margin: 1px; 
  margin: 10px; 
  height: 150px; 
  border: 10px, solid red; 
}



.jumbotron{
  text-align: center; 
  color: black;
  background-color: blue;  

}

#gif-form {
  background-color: White; 
  border-radius: 5%; 
  text-align: center; 
}


img {
  height: 10em; 
  
}


p {
  color: black; 

}

input {
  color: black; 
}


